.cards {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    
 }

.card {
    aspect-ratio: 5 / 7; /* Aspect ratio of a standard playing card */
    background-color: #f0f0f0;
    float: left;

    border-radius: 0.375rem;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
 
    width: 24rem;
    margin: 0.5rem;
    font-family: monospace;
}

.card img {
    aspect-ratio: 4/3;
    width: 96%;
    margin: 2%;
    border-radius: 0.375rem;
}

.card h1 {
    margin: 2% 0% 0% 2%; /* TOP RIGHT BOTTOM LEFT */
}

.card p {
    width: 96%;
    margin: 2% 0% 0% 2%;
    font-size: 1rem;
}