.cards {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    margin: 0;
}

.card {
    aspect-ratio: 5 / 7; /* Aspect ratio of a standard playing card */
    background-color: #f0f0f0;
    float: left;

    border-radius: 0.375rem;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.25);
 
    width: 24rem;
    margin: 0.5rem;
    /* font-family: monospace; */
}

.card img {
    aspect-ratio: 4/3;
    width: 96%;
    margin: 2%;
    border-radius: 0.375rem;
}

.card h1 {
    margin: 2% 0% 0% 2%; /* TOP RIGHT BOTTOM LEFT */
    font-weight: 600;
}

.card p {
    width: 96%;
    margin: 2% 0% 0% 2%;
    font-size: 1rem;
}