.introduction {
    aspect-ratio: 16 / 9;
    width: 49rem;
    text-align: center;
    background-color: #f0f0f0; /* temporary */
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 3rem;

    border-radius: 0.375rem;
}

.introduction img {
    /* width: 20rem; */
    height: 100%;
    float: left;
    margin-right: 2rem;
    border-radius: 0.375rem;
}

.introduction h1 {
    text-align: left;
    font-weight: 900;
    font-size: 3.1rem;
    padding-top: 1rem;
    margin-bottom: 0rem;
}

.introduction p {
    text-align: left;
    font-size: 1.1rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
    line-height: 1.5rem;
    padding-right: 2rem;
}

.introduction nav {
    position: absolute;
    bottom: 0;
}
/*
    Card Vertical Dimensions
    0.5rem margin, each side   = 1.0
    24rem width                = 24.0
    total width                = 25rem

    three cards width = 75rem, -0.5 margin * 2 = 74rem
    two cards width = 50rem, 49rem
    one card with = 25rem, 24rem
*/