.introduction {
    aspect-ratio: 16 / 6;
    width: 74rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 3rem;

    border-radius: 0.375rem;
}

.introduction img {
    /* width: 20rem; */
    height: 100%;
    float: left;
    margin-right: 2rem;
    border-radius: 0.375rem;
}

.introduction h1 {
    text-align: left;
    font-weight: 900;
    font-size: 3.1rem;
    /* padding-top: 1rem; */
    margin-bottom: 0rem;
}

.introduction p {
    text-align: left;
    font-size: 1.1rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
    line-height: 1.5rem;
    padding-right: 2rem;
}

.introduction nav {
    margin-top: 1.5rem;
    background-color: red;
}

.introduction a {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    float: left;
    width: 4.5rem;
    height: 4.5rem;
    margin-right: 0.8rem;
    border-radius: 50%;

    
    border: 2px solid #c3cfe2;
    cursor: pointer;

    line-height: 4rem;
    font-weight: 450;

    color: black;
    text-decoration: none;
}

.introduction a:hover {
    background: linear-gradient(-135deg, #f5f7fa 0%, #c3cfe2 100%);
    border: 3px solid #c3cfe2;
    
}

/* Responsive adjustments */
@media (max-width: 1215px) {
    .introduction {
        width:49rem;
        aspect-ratio: 16 / 9;
    }
}

@media (max-width: 815px) {
    .introduction {
        width: 23rem;
        aspect-ratio: 5 / 6;
        padding-left: 1.5rem;
    }
    .introduction img {
        display: none;
    }
}


/*
    Card Vertical Dimensions
    0.5rem margin, each side   = 1.0
    24rem width                = 24.0
    total width                = 25rem

    three cards width = 75rem, -0.5 margin * 2 = 74rem
    two cards width = 50rem, 49rem
    one card with = 25rem, 24rem
*/