/* 🧊 */

.scene {
    width: 1000px;
    height: 1000px;
    perspective: 1000px;

    background-color: aqua;
}

.🧊 {
    position: absolute;
    transform-style: preserve-3d;
    translate: 400px 800px;

    transition: transform 2s;
}
.🧊:hover {
    transform: rotateX(0deg)
               rotateY(180deg)
               rotateZ(0deg)
}


.🧊face {
    position: absolute;

    width: 200px;
    height: 200px;
    transform: scale3d(1, 1, 1);

    background-color: white;
    outline: 2px solid black;  
}
.🧊face:hover {
    opacity: 50%;
    background-color: red;
    outline: 4px solid black;
    outline-offset: -4px;
}

.🧊face.N {
    transform: rotateX(0deg)
               rotateY(0deg)
               rotateZ(0deg)
               translate3d(0px, 0px, 0px)
}

.🧊face.S {
    transform: rotateX(0deg)
               rotateY(180deg)
               rotateZ(0deg)
               translate3d(0px, 0px, 200px)
               
}

.🧊face.E {
    transform: rotateX(0deg)
               rotateY(-90deg)
               rotateZ(0deg)
               translate3d(-100px, 0px, 100px)
}

.🧊face.W {
    transform: rotateX(0deg)
               rotateY(90deg)
               rotateZ(0deg)
               translate3d(100px, 0px, 100px)
}

.🧊face.U {
    transform: rotateX(90deg)
               rotateY(0deg)
               rotateZ(0deg)
               translate3d(0px, -100px, 100px)
}

.🧊face.D {
    transform: rotateX(90deg)
               rotateY(0deg)
               rotateZ(0deg)
               translate3d(0px, -100px, -100px)
}