.cards {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

    margin-top: 3rem;
    gap: 1rem;
}

.card {
    aspect-ratio: 5 / 7; /* Aspect ratio of a standard playing card */
    width: 24rem;

    background-color: #f0f0f0;
    border-radius: 0.375rem;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.25);
}

.card img {
    margin: auto;
    display: block;

    aspect-ratio: 7/5;
    width: 95%;
    border-radius: 0.375rem;
}

.card h1 {
    margin: 1% 0% 1% 2.5%; /* TOP RIGHT BOTTOM LEFT */ /* 2.5% to center with the image */
    font-weight: 600;
}

.card p {
    width: 95%;
    margin: 2% auto 0% auto;
    font-size: 1.1rem;
}

.card .links {
    text-align: center;
    word-spacing: 1rem;
}