.cards {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    margin-top: 3rem;
}

.card {
    aspect-ratio: 5 / 7; /* Aspect ratio of a standard playing card */
    background-color: #f0f0f0;
    /* float: left; */

    border-radius: 0.375rem;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.25);
 
    width: 24rem;
    flex: 0 0 24rem;
    margin: 0.5rem;
    /* font-family: monospace; */
}

.card img {
    aspect-ratio: 7/5;
    width: 96%;
    margin: 2%;
    border-radius: 0.375rem;
}

.card h1 {
    margin: 2% 0% 0% 2%; /* TOP RIGHT BOTTOM LEFT */
    font-weight: 600;
}

.card p {
    width: 96%;
    margin: 2% 0% 0% 2%;
    font-size: 1.1rem;
}

.card .links {
    text-align: center;
    word-spacing: 1rem;
}