body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}



/* Responsive adjustments */



/* 600 - 800 : try to fit two */
@media (min-width: 700px) and (max-width: 820px) {
    html {
        font-size: 1.9vw;
    }
}

@media (max-width: 700px) {
    html {
        font-size: 3vw;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 4vw;
    }
}